body{
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right , yellow, #ffd600);
    
}

.navbar-container{
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.navbar-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-container ul li {
    padding: 5px;
}

#signin-button button{
    font-style: Source Sans Pro;
    font-weight: 600;
    background : none;
    padding: 5px 14px 5px 14px;
    border: 1.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}